package main

import (
	"io"
	"fmt"
	"os"

	{{- range .Imports }}
		"{{ . }}"
	{{- end}}
	"github.com/sean8694/atlas-provider-gorm/gormschema"
    "gorm.io/gorm"
    "gorm.io/gorm/schema"
)

func main() {
	stmts, err := gormschema.New("{{ .Dialect }}"
			, gormschema.WithConfig(&gorm.Config{
				NamingStrategy:                           schema.NamingStrategy{SingularTable: true},
				DisableForeignKeyConstraintWhenMigrating: true,
			})
		{{- if eq .Dialect "sqlserver" -}}
			, gormschema.WithStmtDelimiter("\nGO")
		{{- end -}}
			, gormschema.WithModelPosition(map[any]string{
				{{- range .Models }}
					&{{ . }}{}: "{{ .Pos }}",
				{{- end }}
				})).Load(
		{{- range .Models }}
			&{{ . }}{},
		{{- end }}
	)
	if err != nil {
		fmt.Fprintf(os.Stderr, "failed to load gorm schema: %v\n", err)
		os.Exit(1)
	}
	io.WriteString(os.Stdout, stmts)
}
